body {
  color: #531C21;
  background-color: #3A4454;
}

nav {
  text-align: center;
  padding: 1px;
  margin: 10px;
}

h1 {
  color: #531C21;
  text-align: center;
}

h2 {
  color: #3A4454;
  text-align: center;
}

h1, h2, h3, h4 {
  text-decoration: underline;
}

h3, h4 {
  font-family: Arial, sans-serif;
  color: #3A4454;
}

a {
  display: inline-block;
  background-color: #531C21;
  font-family: Arial;
  color:#BFAE48;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-style: solid;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: #BFAE48;
  text-align: center;
  background-color: #531C21;
  border-style: solid;
  padding: 1px;
}

a:hover {
  background-color: #979dac;
  font-size: 150%;
  border-radius: 20px;
}

.main_logo {
  background-color: #3A4454;
  text-align: center;
  border: solid #531C21;
}

.main_logo > img {
  width: 500px;
}

.header {grid-area: header;}
.nav {grid-area: nav;}
.footer {grid-area: footer;}
.section {grid-area:section;}
.article {grid-area: article;}
.aside {grid-area: aside;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'nav nav'
    'section aside'
    'article aside'
    'footer footer';
  grid-template-columns: 'auto auto';
  grid-gap: 5px;
  background-color: #53687E;
  padding: 5px;
}

.italic {
  font-style: italic;
}

cite:hover {
  background-color: #979dac;
}

section, article, aside {
  margin: 10px;
  padding: 10px;
}

section {
  border: solid #2F1847;
  background-color: #DDDBF1;
}

section, section > h3 {
  color: #482773;
}

article {
  border: solid #8FB339;
  background-color: #C7D59F;
}

article, article > h3 {
  color: #363636;
}

aside {
  border: solid #EF9CDA;
  background-color: #FECEF1;
}

aside, aside > h3 {
  color: #92374D;
}

.center {
  text-align: center;
}

.monospace {
  font-family: "Courier New", monospace;
}

button {
  color: #363636;
  background-color: #BDC2BF;
  border: solid #363636;
  border-radius: 15px;
  font: bold 125% "Courier New", monospace;
}

button:hover {
  color: #BDC2BF;
  background-color: #25291C;
  border: solid #BDC2BF;
}