body {
  color: #531C21;
  background-color: #3A4454;
}

main {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: solid #531C21;
  background-color: #979dac;
}

nav {
  text-align: center;
  padding: 1px;
}

h1 {
  color: #531C21;
  text-align: center;
}

h2 {
  color: #531C21;
  text-align: center;
  text-decoration: underline;
}

h3 {
  font-family: Arial, sans-serif;
  color: #531C21;
}

h4 {
  font-family: Arial, sans-serif;
  color: #531C21;
}

span > a {
  display: block;
  background-color: #531C21;
}

a {
  font-family: Arial;
  color:#BFAE48;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-style: solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: #BFAE48;
  text-align: center;
  background-color: #531C21;
  border-style: solid;
  padding: 1px;
}

a:hover {
  background-color: #979dac;
}

.main_logo {
  background-color: #3A4454;
  text-align: center;
  border: solid #531C21;
}

.main_logo > img {
  width: 500px;
}

.lab1pic {
  background-color: #3A4454;
  text-align: center;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.maintext {
  color: #252323;
  text-align: center;
}

.instructions {
  background-color:#531C21;
  border-style: solid;
  font-style: italic;
  color: #BFAE48;
  padding: 5px;
}

.header {grid-area: header;}
.nav {grid-area: nav;}
.main {grid-area: main;}
.footer {grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main'
    'footer footer';
  grid-template-columns: 'auto auto';
  grid-gap: 5px;
  background-color: #53687E;
  padding: 5px;
}

.meat {
  background-color: salmon;
}

.veg {
  background-color: lightgreen;
}

.dairy {
  background-color: khaki;
}

.other {
  background-color: snow;
}

.italic {
  font-style: italic;
}

.form_choice {
  color: #3A4454;
}